@media (max-width: 360px) {
    .header {
        background: url(../assets/img/b360.png);
        /* background-repeat: no-repeat; */
        background-size: cover;
        height: 100vh;
    }

    .text {
        color: #fff;
    }

    .header__content-links {
        position: fixed;
        transition: 0.3s;

        flex-direction: column;
        right: -1000px;
        background: slateblue;
        padding: 13px 25px;
    }

    .header__content-links.active {
        display: flex;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70%;

    }

    .burger {
        display: flex;
    }

    .burger span {
        color: #fff;
    }

    .hero {
        padding: 70px 35px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;

    }

    .hero__content h1 {
        font-weight: 400;
        font-size: 30px;
        line-height: 110%;
        width: 291px;
        color: #fff;
    }

    .hero__content p {
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        width: 184px;
        color: #fff;
        margin-bottom: 20px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 20px;
    }

    .modal {

        flex-direction: column;
        max-width: 220px;
        justify-content: center;
        max-width: 90%;
        left: 10px;
    }

    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .modal__content form input {
        width: 100%;
    }

    .info__content {
        display: flex;
        flex-direction: column;
    }

    .info__content h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
    }

    .info__content-block {
        display: flex;
        flex-direction: column;

    }

    .info__content-block p {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        width: 100%;
    }

    #info {
        padding: 16px 25px;
    }

    .information__content {
        /* padding: 90px 0; */
    }

    .information__content h2 {
        font-weight: 400;
        font-size: 35px;
        line-height: 100%;
    }

    .information__content ul {
        display: flex;
        flex-direction: column;
    }

    .info__content2 {
        display: flex;
        flex-direction: column;
        width: 289px;
        padding: 140px 0 0;
    }

    .info__content2 h2 {
        text-align: start;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        margin: 0;
    }

    .info__content-block2 {
        display: flex;
        flex-direction: column;
    }

    .info__content-img img {
        width: 100%;
        display: none;
    }

    .block-text-part3 {
        width: 100%;
        height: 100px;
    }

    .text-btn {
        width: 299px;
        height: 120px;
    }

    .product__content {
        display: flex;
        flex-direction: column;

    }

    .product__content-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
    }

    .product__content-block-text {
        display: flex;
        flex-direction: column;
    }

    .product__content-block img {
        width: 290px;
        height: 163px;
    }

    .product__content-block-text {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 20px;
    }

    .info__content {
        padding: 40px 0 0 0;

    }

    .info__content h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        width: 266px;
        text-align: center;
    }

    .info__content-block {}

    .info__content-block img {
        width: 288px;
        height: 174px;
    }

    .info-content-discription-blue {
        max-width: 320px;
        margin: 0 auto;
    }

    .info-content-discription-blue p {
        font-weight: 400;
        font-size: 20px;


        text-align: center;
    }

    .info-content-discription {
        max-width: 288px;
        margin: 0 auto;
    }

    .info-content-discription p {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        max-width: 288px;
    }

    .requset__content {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        margin: 0 auto;
    }

    .requset__content h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
    }

    .requset__content p {
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
    }

    .requset__content-from {
        display: flex;
        flex-direction: column;
    }

    .requset__content-from input {
        width: 290px;
    }

    .check {
        display: flex;

    }

    .requset__content-from button {
        color: #fff;
    }

    .steps {
        padding: 20px;
        margin: 0 auto;
        max-width: 320px;
    }

    .steps h2 {
        font-weight: 400;
        font-size: 35px;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .steps-grid {
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }

    .information__content {
        max-width: 320px;
        margin: 0 auto;
    }

    .bg {
        display: none;
    }

    .footer {
        max-width: 320px;
        margin: 0 auto;
        padding: 0;
    }

    .input {
        width: 330px
    }

    .footer__content-form div {
        display: flex;
        gap: 20px;
    }

    .information__content {
        max-width: 320px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .footer__content-form h2 {
        font-weight: 400;
        font-size: 34px;
        line-height: 110%;
    }

    .footer__contnet {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .footer__content-contact {
        margin-top: 20px;
    }

    .footer__content-contact h2 {
        margin-bottom: 30px;
    }

    .footer__content-item {
        display: flex;
        flex-direction: column;
    }

    .footer__content-smi {
        margin: 0;
        margin-top: 25px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header {
        background: url(../assets/img/b360.png);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .text {color: #fff;}
    .header__content-links {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger span {
        background: #fff;
    }

    .hero {
        padding: 70px 0;
    }

    .hero__content,
    .info__content,
    .info__content-block,
    .info__content-block2,
    .requset__content-from,
    .footer__content-item,
    .footer__contnet,
    .product__content,
    .product__content-block {
        display: flex;
        flex-direction: column;
    }

    .hero__content h1 {
        font-size: 30px;
        width: 100%;
        color: #fff;
    }

    .hero__content p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .modal {
        display: none;
        position: fixed;
        inset: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
    }

    .modal.active {
        display: flex;
        z-index: 1000;
    }

    .modal__content {
        width: 90%;
        max-width: 420px;
        background: #fff;
        padding: 25px;
        border-radius: 15px;
    }

    .modal__content form input {
        width: 100%;
    }

    .header__content-links {
        position: fixed;
        transition: 0.3s;

        flex-direction: column;
        right: -1000px;
        background: slateblue;
        padding: 13px 25px;
    }

    .header__content-links.active {
        display: flex;
        right: 0;
        top: 0;
        height: 100vh;
        width: 55%;

    }

    .info__content {
        padding: 40px 0;
    }

    .info__content h2 {
        font-size: 28px;
        text-align: center;
    }

    .info__content-block p {
        font-size: 15px;
        width: 100%;
    }

    .info__content-img img {
        width: 100%;
        height: auto;
    }

    .info__content2 h2 {
        text-align: center;
        margin: 0;
    }

    .information__content ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product__content-block {
        gap: 20px;
        margin-bottom: 40px;
    }

    .product__content-block img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        display: block;
    }

    .product__content-block-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product__content-block-text h3 {
        font-weight: 400;
        font-size: 35px;
        line-height: 100%;
        width: 100%;
    }

    .text-btn {
        width: 100%;
    }

    .burger span {
        background: #fff;
    }

    .steps {
        padding: 20px;
        max-width: 500px;
        margin: 0 auto;
    }

    .steps h2 {
        font-size: 30px;
    }

    .steps-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer__contnet {
        gap: 20px;
    }

    .footer {
        padding: 0;
    }

    .footer__content-form div {
        display: flex;
        align-items: center;

    }


    .info__content-block img {
        display: none;
    }

    .bg {
        display: none;
    }
}




/* @media (max-width: 570px) {


    .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 0;
    }

    
    .header {
        background: url(../assets/img/b360.png);
        background-size: cover;
        height: 100vh;
    }

    .header__content-links {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger span {
        background: #fff;
    }

    
    .hero {
        padding: 70px 0;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
    }

    .hero__content h1 {
        font-size: 30px;
        width: 100%;
        color: #fff;
    }

    .hero__content p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

   
    .modal {
        max-width: 90%;
        right: 0;
    }

    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal__content input {
        width: 100%;
    }

   
    .info__content {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
    }

    .info__content h2 {
        font-size: 28px;
        text-align: center;
    }

    .info__content-block {
        display: flex;
        flex-direction: column;
    }

    .info__content-block p {
        font-size: 15px;
        width: 100%;
    }

    .info__content-block2 {
        display: flex;
        flex-direction: column;
    }

    .info__content-img img {
        width: 100%;
    }

    .requset__content-from {
        display: flex;
        flex-direction: column;
    }

    .footer__content-item {
        display: flex;
        flex-direction: column;
    }

    .product__content-block img {
        width: 100%;

    }

    .product__content-block-text h3 {
        font-weight: 400;
        font-size: 35px;
        line-height: 100%;
        width: 100%;
    }
    .product__content-block-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info__content2 h2 {
        text-align: center;
        margin: 0;
    }

    /
    .information__content ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* product 
    .product__content {
        display: flex;
        flex-direction: column;
    }

    .product__content-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .product__content-block img {
        width: 100%;
        height: auto;
    }

    /* кн
    .text-btn {
        width: 100%;
    }

    /* steps
    .steps {
        padding: 20px 0;
    }

    .steps h2 {
        font-size: 30px;
    }

    .steps-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* footer 
    .footer__contnet {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer__content-form input {
        width: 100%;
    }
    .product__content-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
    }

} */